* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  background-color: #243447;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: sans-serif;
}

nav h1 {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 10px;
  color: white;
  text-decoration: none;
}
